* { 
  box-sizing: border-box; 
  margin: 0; 
  padding: 0; 
  text-decoration: none;
}
    body { 
        font-family: 'Arial', sans-serif; 
        color: #333; 
    }
    header, section, footer {
         width: 100%; 
        }
    header {
      padding: 40px 20px;
      text-align: center;
      color:#050505; 
    }
    header p { 
        font-size: 1.1rem; 
        font-weight: bold;
    }
    header img{
        width: 200px;
        background-color: #51378A;
        border-radius: 1rem;
    }
    .grid { display: grid; gap: 40px; padding: 40px 20px; }
    .grid-2 { grid-template-columns: repeat(auto-fit, minmax(500px, 1fr)); }
    .card {
      background: #fff;
      border-radius: 8px;
      overflow: hidden;
      box-shadow: 0 4px 10px rgba(0,0,0,0.1);
      display: flex;
      flex-direction: column;
    }
    .card:hover{
       scale: 1.05;
        cursor: pointer;
        border: 3px solid #4a2686;
    }
    .card img {
      width: 100%;
      height: auto;
      object-fit: cover;
      flex-shrink: 0;
    }
    .card-content {
      padding: 20px;
      flex: 1;
    }
    .card-content h2 {
      font-size: 1.4rem;
      margin-bottom: 10px;
      color: #4a2686;
    }
    .card-content ul {
      margin-left: 20px;
      list-style-type: disc;
      color: #555;
    }
    .contact {
      background: #4a2686;
      color: #fff;
      padding: 40px 12px;
      display: grid;
      gap: 20px;
      grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    }
    .contact-card {
      background: rgba(255,255,255,0.1);
      border-radius: 8px;
      padding: 20px;
    }
    .contact-card h3 {
       margin-bottom: 10px; 
      }
    .contact-card p {
       line-height: 1.5; 
      }
      .social{
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      }
    .social img{ 
      width: 80px;
      color: #fff;
    }
    footer {
      text-align: center;
      padding: 20px;
      background: #333;
      color: #fff;
      font-size: .9rem;
    }
    @media(max-width: 600px) {
      header h1 { font-size: 2rem; }
      .grid-2 { grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); }
    }